extends layout

block content
	h1= title
	form#formNewUser(name="adduser", method="post", action="/adduser")
		input#inputUsername(name="username", type="text", placeholder="username")
		input#inputUserEmail(name="useremail", type="text", placeholder= "user email")
		button#btnSubmit(type="submit") submit

